# Requirements needed when generating releases. See BUILD.rst for details.
invoke >= 0.20
rellu >= 0.6
docutils >= 0.14
robotframework == 3.2.2
robotframework-seleniumlibrary <= 3.5.1
robotframework-sshlibrary <= 5.0.0
PyYAML >= 5.4.1
cloudshell-automation-api>=2021.1,<2021.2
requests <=2.26.0
setuptools<58